@font-face {
  font-family: "Young Serif", serif;
  src: url("../public/fonts/YoungSerif-Regular.ttf");
}

@font-face {
  font-family: "Outfit", sans-serif;
  src: url("../public/fonts/Outfit-VariableFont_wght.ttf");
}

hr {
  color: #e3ddd7;
}
